@model List<MeetingListDto>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-3">
            <a class="btn btn-primary" asp-area="Admin" asp-controller="Meetings" asp-action="Create">Toplantı Ekle</a>
        </div>
    </div>
    <hr />
    <h3 class="text text-primary">Aktif Toplantılar</h3>
    <div class="row mt-3">

        <div class="col-md-12">
            @if (Model.Count == 0)
            {
                <h3 class="text text-danger">Şu anda aktif toplantı yok!</h3>

            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Toplantı Adı</th>
                            <th>Başlangıç</th>
                            <th>Bitiş</th>
                            <th>Açıklama</th>
                            <th>Operasyonlar</th>
                        </tr>
                    </thead>
                    <tbody>



                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.StartingDate.ToShortDateString() @item.StartingDate.ToShortTimeString()</td>
                                <td>@item.EndingDate.ToShortDateString() @item.EndingDate.ToShortTimeString()</td>
                                <td>@item.Description</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a asp-controller="Meetings" asp-action="Complete" asp-route-id="@item.Id" class="btn btn-success" title="Complete"><i class='bx bx-check'></i></a>
                                        <a asp-controller="Meetings" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Delete"><i class='bx bx-trash'></i></a>
                                        <a asp-controller="Meetings" asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary" title="Update"><i class='bx bx-pencil'></i></a>
                                        <a asp-asp-controller="Meetings" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary" title="Details">
                                            <i class='bx bx-book'></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>
</div>
